*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container > ul{
    list-style: none;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    background-color: blanchedalmond;
    margin-top: 30px;
    padding-top: 15px;
    margin-top: 0;
    padding-bottom: 15px;
    width: 100%;
}

.head{
    margin-top: 50px;
}

a{
    margin-top: 8px;
    font-size: x-large;
    margin-right: 30px;
}

.title{
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
    border-radius: 5%;
}

.sale{
    font-size: 20px;
    font-weight: lighter;
}

a:hover{
    color: white;
}

.home{
    height: 100vh;
    text-align: center;
    background-image: url('honda-civic-type-r-car-vehicle-hd-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: -10px;
}

.quotes{
    font-size: xxx-large;
    padding-top: 10px;
    color: rgb(255, 252, 246);
}

.quoatwt{
    font-size: xxx-large;
    color: rgb(255, 137, 41);
}

.para{
    font-size: x-large;
    color: rgb(255, 137, 41);
}

.click{
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    background-color: rgb(252, 168, 12);
    border-radius: 15px;
}

button{
    margin-top: 25px;
    padding: 10px;
    font-size: 20px;
    margin-left: 25px;
    border-radius: 15px;
    background-color: silver;
}
button:hover{
    background-color: antiquewhite;
}

.lorem{
    font-size: x-large;
    margin-top: 30px;
}

.about{
    margin-top: 10px;
    text-align: center;
    background-color: rgb(246, 246, 246);
    border: 2px solid black;
    padding-bottom: 20px;

}
.aboutimg{
    grid-template-rows: repeat(1fr,4);
    background-color: rgb(252, 251, 250);
    border: 2px solid black;
    margin-left: 5px;
    box-shadow: 0px 0px 10px 1px black;
}

.head1{
    font-size: xx-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

.service{
    text-align: center;
    background-color: rgb(252, 242, 224);
    border: 2px solid black;
    border-top: none;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.blog{
    font-size: larger;
    text-align: center;
    justify-content: center;
    border: 2px solid black;
    border-top: none;
    padding-top: 60px;
    padding-bottom: 60px;
}

.car{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 20px;
    margin-top: 10px;
}

.car1 > img{
    border-radius: 50%;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 1px black;
}

.contact{
    margin-top: -75px;
    margin-bottom: -60px;
    background-color: rgb(255, 234, 207);
}

.message{
    width: 50%;
    border: 1px solid black;
    margin: 50px 0;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 25%;
    margin-top: 80px;
    box-shadow: 0px 0px 10px 1px black;
    font-size: 35px;
    text-align: center;
    background-color: burlywood;
    
}

.message input , .message textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    font-size: 20px;
}

.submit{
    background-color: antiquewhite;
}

.submit:hover{
    background-color: aliceblue;
}

#menu-bar{
    display: none;
}

@media(max-width:680px){
    .home{
        height: 120vh;
    }
    #menu-bar{
        margin-top: 8px;
        display: initial;
        font-size: larger;
    }
    
    .type{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: rgb(253, 229, 229);
        border-top: .1rem solid rgba(0,0,0,0.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    
    .type.active{
        clip-path: polygon(0 0,100% 0%, 100% 100%, 0% 100%);
    }

    .type a{
        margin: 1.5rem;
        display: block;
        border: 0.3rem solid rgb(0, 0, 0);
        border-left: .5rem solid var(rgb(0, 0, 0));
        background: rgb(248, 244, 244);
        text-align: center;
    } 


}